
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-plak');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


@font-face {
    font-family: 'boldfont';
    src: url('fontes/THEBOLDFONT 2022.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zanna';
    src: url('fontes/Zanna-Personal Use.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 1s;
    animation: fadeInDown;
    animation-duration: 2s;
    background: #fff;
    /* box-shadow: 0px 5px 5px rgba(141, 141, 141, 0.7); */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; */
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    /* height: 8vh;
    width: 90vw; */
    backdrop-filter: blur(4px);
    font-size: 15px;
}

#header>nav a {
    text-decoration: none;
    position: relative;
}

#header>nav li a {
    color: #b9b9b9;
    transition: 0.3s ease-in-out;
    width: 0%;
}

#header>nav li .contat {
    color: rgb(0, 0, 0);

}
#header>nav li .contat::after {
  content: " ";
  height: 2px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  bottom: -5px;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}
#header>nav li a:hover {
    color: rgb(0, 0, 0);
    width: 100%;
}

#header>nav li a::after {
    content: " ";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom: -5px;
    left: 0;
    width: 0%;
    transition: 0.3s ease-in-out;
}

#header>nav li a:hover::after {
    width: 100%;
}

#lista1 {
    flex-grow: 0.76;
}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    letter-spacing: 0px;
    margin-left: 32px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    color: #000;
}

.rTotal {
    position: relative;
    width: 100%;
    min-height: 500vh;
    /* padding: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* rgb(14, 9, 9) */
    background: rgb(255, 255, 255);
    overflow: hidden;
}


.box {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(0, 0, 0, 0.6); */
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  color: rgb(127, 127, 127);
}

fieldset {
  border: 3px solid rgb(214, 169, 96);
  padding: 10px;
}

legend {
  border: 1px solid rgb(214, 169, 96);
  padding: 10px;
  text-align: center;
  color: #000;
  background-color: rgb(214, 169, 96);
  border-radius: 8px;

}

.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid #00000038;
  outline: none;
  color: #000;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
}
textarea{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  position: absolute;
  top: -5px;
  left: 0px;
  letter-spacing: 1px;
  font-size: 18px;
  pointer-events: none;
  transition: .5s;
  font-family: 'Montserrat', sans-serif;
}
.labelInputDescrição{
  position: absolute;
  top: 30px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
  opacity: 0.6;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
  top: -27px;
  font-size: 18px;
  color: rgb(214, 169, 96);
}
.valid  ~ .labelInputDescrição
{
  top: -20px;
  font-size: 12px;
  color: rgb(214, 169, 96);
}
textarea:focus ~ .labelInputDescrição{
  top: -20px;
  font-size: 12px;
  color: rgb(214, 169, 96);
}
#submit{
  background-image: linear-gradient(to right, rgb(214, 169, 96), rgb(197, 127, 16));
  width: 100%;
  border: none;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover{
  background-image: linear-gradient(to right,  rgb(172, 129, 59), rgb(171, 107, 4));
}
.invalid ~ .labelInput{
  top: -24px;
  font-size: 16px;
  color: rgb(255, 71, 71);
}
/* textarea {
  background-color: rgb(30, 144, 255);
  border: none;
  border-radius: 5px;
  color: #ffffff;
} */


.container{
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
}
.container .text{
    
    position: relative;
    max-width: 35%;
    margin-right: 20px;
    margin-left: 100px;
}
.container .text h1{
    letter-spacing: 7px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
    /* font-weight: 1200; */
    color: rgb(187, 187, 187);

}
.container .text p{
  /* text-align: justify; */
    top: auto;
    line-height: 55px;
    font-size: 34px;
    letter-spacing: 2px;
    font-family: 'Mulish', sans-serif;
    
}
.container .respi {
  max-width: 60%;
  
  margin-right: 20px;
  margin-left: 140px;
  position: absolute;
  top: 0;
  right: 10px;
  
  
}
.container .respi img{
  width: 500px;
  height: 689px;
  object-fit: cover;

}
.imgPrincipal {
  object-fit: cover;
  position: relative;
  height: 70vh;
  display: flex;
  width: 100%;
      transform: scale(1.2);
}